.container {
  background-color: #fff;
  border: 2px solid #eef4f3;
}

.tablist {
  margin: 0;
  padding: 0;
}

.tabpanel {
	display: none;
}

.nav {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

.active {
	display: block;
}